/* .parent {
  display: flex;
  flex-wrap: wrap;
} */
body {
  background-color: rgba(255, 0, 106, 0.897);
}
/* .child {
  flex: 1 0 41%;
  margin: 5px;
} */
img {
  width: 40%;   /*scales height*/

}

